html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inconsolata', monospace;
    position: relative
}


.header {
    background-color: #7EA8BE !important;
    max-height: 220px;
    color: #000000 !important;

}
div.scrollmenu {
    background-color: #7EA8BE;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
.team {
    color: #000000 !important;

    border-radius: 15px;
    padding: 8px 15px 8px 15px;
}

#craft {
    padding-left: 0px;
    padding-right: 0px;

}

#current {
    text-decoration: none !important;
    color: black;
    text-decoration: underline !important;

    border-radius: 15px;
    padding: 8px 15px 8px 15px;
}

#form1 {
    width: 80%;
}

.img-fluid {
    padding: 4px;
    border-radius:5px;
}

#footer {
    background-color: #7EA8BE !important;
    color: #000000 !important;
}

#facebook:hover {
    text-decoration: none;
}

#youtube {
    color: #ff1a1a;
}

#youtube:hover {
    color: #ff4d4d !important;
    text-decoration: none;
}

#carouselExampleControls {
    max-width: 60%;
    max-height: 50%;
    justify-content: center;
}

.lightbox-overlay {
    background-color: black;
}