body{
    font-family: 'Inconsolata', monospace;
}


.header{
    background-color:#7EA8BE !important;
    text-decoration: none !important;
    color:#000000 !important;
    
}
.team{
    color:#000000 !important;
}
#craft{
    padding-left:0px;
    padding-right:0px;

}
.img-fluid{
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: auto;
}
#pic1{
    padding-right:0px;

}
#pic2{
    padding-left:0px;
}

#footer{
    background-color:#7EA8BE !important;
    color:#000000 !important;
}
#facebook:hover{
    text-decoration: none;
}
#youtube{
    color:#ff1a1a;
    
}
#youtube:hover{
    color:#ff4d4d !important;
    text-decoration: none;
}
#carouselExampleControls{
    max-width: 60%;
    max-height: 50%;
    justify-content: center;
}
.lightbox-overlay{
    background-color: black;
}