body{
    font-family: 'Inconsolata', monospace;
}


.header{
    background-color:#7EA8BE !important;
    text-decoration: none !important;
    color:#000000 !important;
    
}
.team{
    color:#000000 !important;
}
.container{
    max-width:90%;
}
.img-fluid{
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 5%;
}

#footer{
    background-color:#7EA8BE !important;
    color:#000000 !important;
}
#facebook:hover{
    text-decoration: none;
}
#youtube{
    color:#ff1a1a;
    
}
#youtube:hover{
    color:#ff4d4d !important;
    text-decoration: none;
}
