html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inconsolata', monospace;
    position: relative
}



.header {
    background-color: #7EA8BE !important;
    max-height: 220px;
    color: #000000 !important;

}
div.scrollmenu {
    background-color: #7EA8BE;
    overflow:auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;

  }
  
  div.scrollmenu a:hover {
    text-decoration: underline;
 
  }
#teamMenu{
    
}
  #teamMenu{
    padding-left:20px !important;
    padding-right:20px;
    text-decoration: underline;
}
#creaMenu{
    margin-left:100px;
}
.team {
    color: #000000 !important;

    border-radius: 15px;
    padding: 8px 15px 8px 15px;
}

#craft {
    padding-left: 0px;
    padding-right: 0px;

}

#current {
    text-decoration: none !important;
    color: black;
    text-decoration: underline !important;

    border-radius: 15px;
    padding: 8px 15px 8px 15px;
}

.img-fluid {
    padding: 4px;
    border-radius: 8px;
}


#footer {
    background-color: #7EA8BE !important;
    color: #000000 !important;
}

#facebook:hover {
    text-decoration: none;
}

#youtube {
    color: #ff1a1a;

}

#youtube:hover {
    color: #ff4d4d !important;
    text-decoration: none;
}
