html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inconsolata', monospace;
    position: relative
}

@media only screen and (max-width:600px) {
    #creaMenu {
        margin-left: 165px;
        background-color: burlywood;
        border-radius: 50px;
        padding: 8px 16px 8px 16px;
        box-shadow: 10px 5px 5px grey;
    }
    #teamMenu {
        text-decoration: underline;
        margin-left: 5px;
        background-color: burlywood;
        border-radius: 50px;
        padding: 8px 16px 8px 16px;
        box-shadow: 1px 5px 5px grey;

    }
    #contactMenu {
        margin-left: 5px;
        margin-right: 5px;
        background-color: burlywood;
        border-radius: 50px;
        padding: 8px 16px 8px 16px;
        box-shadow: 1px 5px 5px grey;
    }
    #craft{
        margin:0px 0px 0px 0px !important;
        padding:0px 0px 0px 0px !important;
        
    }
    #row1{
        margin:15px 0px 0px 15px;
    }
}

@media only screen and (min-width: 768px) {
    #creaMenu {
        margin-left: 100px;
        background-color: burlywood;
        border-radius: 50px;
        padding: 8px 16px 8px 16px;
        box-shadow: 1px 5px 5px grey;
    }
    #teamMenu {
        text-decoration: underline;
        padding-left: 20px ;
        margin-left: 50px;
        background-color: burlywood;
        border-radius: 50px;
        padding: 8px 16px 8px 16px;
        box-shadow: 10px 5px 5px grey;

    }
    #contactMenu {
        margin-left: 50px;
        background-color: burlywood;
        border-radius: 50px;
        padding: 8px 16px 8px 16px;
        box-shadow: 10px 5px 5px grey;

    }
    #craft {
        padding-left: 0px;
        padding-right: 0px;
    
    }
    #row1{
        margin:5px 0px 24px 0px;
        
    }
}


.header {
    background-color: #7EA8BE !important;
    max-height: 220px;
    color: #000000 !important;

}
div.scrollmenu {
    background-color: #7EA8BE;
    overflow:auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;

  }
  
  div.scrollmenu a:hover {
    text-decoration: underline;
 
  }

.team {
    color: #000000 !important;

    border-radius: 15px;
    padding: 8px 15px 8px 15px;
}
.img-fluid {
    padding: 4px;
    border-radius: 8px;
}


#footer {
    background-color: #7EA8BE !important;
    color: #000000 !important;
}

#facebook:hover {
    text-decoration: none;
}

#youtube {
    color: #ff1a1a;

}

#youtube:hover {
    color: #ff4d4d !important;
    text-decoration: none;
}
